
<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Paraphrase Generation</title>
    
		
	<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
	<!--  <link href="http://omer.dawelbeit.info/jquery.graphviz.css" rel="stylesheet"> -->
	<style type="text/css">
      body {
        /*padding-top: 40px;
        padding-bottom: 40px;*/
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 1200px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      textarea {
      	width: 860px;
      }

    </style>
  </head>

  <body>

  <div class="container">
    	<div class="hero-unit">
  		  <h2>Syntax Alignment based Paraphrase Generation</h2>
  		  <p>This is a demo for the <a href="https://github.com/HarshTrivedi/paraphrase-generation-web-demo" target="_blank">implementation</a> of <b>'Syntax-based Alignment of Multiple Translations: Extracting Paraphrases and Generating New Sentences'</b> (<a href="http://www.isi.edu/natural-language/projects/rewrite/bopang.pdf" target="_blank">link</a>)
  		  </p>
        <p style="font-size: 15px; line-height: 17px; ">	It automatically builds Finite State Automata (word lattices) from semantically equivalent sentences. They can be used to extract lexical and syntactic paraphrase pairs and to generate new, unseen sentences that express the same meaning as the sentences in the input sets.</p>
        <br>
        <p style="font-size: 12px; line-height: 7px; color: rgb(104,0,0);"> <strong>Disclaimer:</strong></p>
        <p style="font-size: 12px; line-height: 7px; color: rgb(104,0,0);"> <strong>(1)</strong> Please cite the <a href="http://www.isi.edu/natural-language/projects/rewrite/bopang.pdf" target="_blank">above paper</a>, if you use this tool in your research.</p>
        <p style="font-size: 12px; line-height: 7px; color: rgb(104,0,0);"> <strong>(2)</strong> I (developer of this page) am not any of the authors of the above paper. </p>        
        <p style="font-size: 12px; line-height: 7px; color: rgb(104,0,0);"> <strong>(3)</strong> In case of any issue, please <a href="mailto:harshjtrivedi94@gmail.com">contact me</a></p>
		  </div>
	  	<form class="form-signin" action="/" method="get">
		  <div class="control-group">
		    <label class="control-label text-center" > <b>Write few semantically equivalent sentences:</b></label>
		    <div class="controls">
		      
{% if equivalent_lines %}
<textarea rows="10" class="js-dot-source" name="equivalent_lines" >{{"\n".join(equivalent_lines).strip() }}</textarea>
{% else %}
<textarea rows="10" class="js-dot-source" name="equivalent_lines" >
At least 12 people were killed in the battle last week
At least 12 people lost their lives in last week's fighting
Last week's fight took at least 12 lives
The fighting last week killed at least 12
The battle of last week killed at least 12 persons
At least 12 persons died in the fighting last week
At least 12 died in the battle last week
At least 12 people were killed in the fighting last week
During last week's fighting, at least 12 people died
Last week at least twelve people died in the fighting
Last week's fighting took the lives of twelve people
</textarea>
{% endif %}
		    </div>
		  </div>
		  <div class="control-group">

		    <div class="controls text-center">
			  <input type="submit" class="btn btn-primary" value="Get Word FSA">
		      <!-- <button type="button" class="btn btn-primary js-render" data-loading-text="Loading...">Get Word Graph (FSA)</button> -->
		    </div>
		  </div>

		</form>
	    
	  <hr>

		<form class="form-signin">
		  <label class="control-label text-center"> <b> Word FSA: </b></label>
		   <p class="text-center">Scroll In/Out to Zoom In/Out. Hold and drag to drag the fsa. </p>
		  <div class="controls" id="js-svg-graph" style="overflow-x: scroll;overflow-y: scroll; " >
		        {{ svg|safe }}
		  </div>

		</form>
	</div>
	  
  <br><br><br><br><br><br><br><br>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://omer.dawelbeit.info/jquery.graphviz.js "></script> 
	<script src="http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.js"></script>
  <script>
      // Don't use window.onLoad like this in production, because it can only listen to one function.
      window.onload = function() {
        // Expose to window namespase for testing purposes
        window.zoomTiger = svgPanZoom('svg', {
          zoomEnabled: true,
          controlIconsEnabled: true,
          fit: true,
          center: true,
          // viewportSelector: document.getElementById('demo-tiger').querySelector('#g4') // this option will make library to misbehave. Viewport should have no transform attribute
        });
        if(parseInt($('svg')[0].getAttribute("height").match(/\d+/)[0]) < 60){
            $('svg')[0].setAttribute("height", "200px");
        }        
      };
  </script>

  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
  var sc_project=11049738; 
  var sc_invisible=1; 
  var sc_security="9167a8f9"; 
  var scJsHost = (("https:" == document.location.protocol) ?
  "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
  scJsHost+
  "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="web statistics"
  href="http://statcounter.com/free-web-stats/"
  target="_blank"><img class="statcounter"
  src="//c.statcounter.com/11049738/0/9167a8f9/1/" alt="web
  statistics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->

  </body>
</html>
